@media (max-width: 640px) {
  .nav-wrapper {
    margin: 0 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* main1 */
  .jumbotron {
    height: 80vh;
    padding: 0;
    margin: 0;
  }

  .main-left {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding: 0 50px;
  }

  .main-right img {
    display: none;
  }

  .btn.btn-primary {
    margin: 0 auto;
  }

  /* main2 */
  .item-wrapper {
    flex-wrap: wrap;
  }

  /* contact */
}

@media (max-width: 920px) {
  header {
    padding-left: 100px;
    padding-right: 50px;
  }

  .main-left h1 {
    flex: auto;
    margin: 0 auto;
  }

  .main-left p {
    flex: auto;
    margin: 0 auto;
  }

  .main-right {
    flex: auto;
    margin: 0 auto;
  }

  .main-right img {
    display: none;
  }
}
